<div style="border: 1px solid #ddd;border-radius: 2px;margin:1.6rem 0 1rem 0;padding:0.6rem 1.5rem 0rem 1.5rem;max-width:600px;font-size: 1.6rem;margin: 0 auto;">
  <div>
    <div style="margin: 0 0 -0.8rem 0">
      <a href="reddit.com/u/{comment_username}" style="margin: 0 1rem 0 0;color:#555">u/{comment_username}</a><span style="margin: 0 1rem 0 0;color: #555">{comment_score} points</span><span style="margin: 0 1rem 0 0;color: #555">{comment_date}</span><a style="color: #555" href="https://reddit.com{comment_link}">View on reddit</a>
    </div>
    {comment_content}
  </div>
  <div style="border-top: 1px solid #ddd; margin: 0 -1.5rem;padding: 10px 10px;background-color:#eee;">
    <a href="https://reddit.com{op_link}">{op_title}</a><a href="https://reddit.com/r/{subreddit}" style="margin: 0 0 0 1rem;font-size:1.4rem; color: #555;">{subreddit}</a><br />
    <a href="https://reddit.com{op_username}" style="margin: 0 1rem 0 0;font-size:1.4rem; color: #555;">u/{op_username}</a><span style="font-size:1.4rem;color:#555;">{op_date}</span>
  </div>
</div>
