<div style="border: 1px solid #ddd;border-radius: 2px;margin:1.6rem 0 1rem 0;padding:0.6rem 1.5rem 0.6rem 1.5rem;max-width:600px;font-size: 1.8rem;margin: 0 auto;">
  <div>
    <span>{name}</span><br />
    <a href="https://twitter.com/{handle}" style="color: #555;font-size: 1.6rem;">@{handle}</a>
  </div>
  <div style="margin: 1rem 0;">{content}</div>
  <span style="color: #555;font-size: 1.6rem;">{date}</span>
  <a style="font-size: 1.6rem;text-align:right" href="{url}"> View on Twitter</a>
</div>
